<?xml version="1.0"?>
<launch>

    <include file="$(find bacchus_gazebo)/launch/vineyard_demo.launch" >
        <arg name="world_name" default="vineyard_small" />
        <arg name="rviz_config_file" default="$(find grape_counter)/rviz/rviz_topo_two_pc.rviz" />
        <arg name="gui" default="false" />
    </include>

    <include file="$(find uol_cmp9767m_tutorial)/launch/topo_nav.launch" />
    
    <node pkg="grape_counter" name="image_processing" type="grape_counting.py" output="screen" />

    <node pkg="grape_counter" name="counting_mgr" type="counting_manager.py" output="screen" />


</launch>